html,
body,
div,
section,
main,
footer,
h1,
h2,
ul,
li,
a,
p,
span,
button,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
	-webkit-touch-hightlight: none;
}
body {
	font-size: 1rem;
}
button {
	cursor: pointer;
	border: none;
	background: none;
	-webkit-tap-highlight-color: transparent;
}
img {
	height: auto;
	width: 100%;
	display: block;
	font-style: italic;
}

ul{
	list-style: none;
	text-decoration: none;
	text-transform: none;
}